body {
    font-family: Arial, sans-serif;
}

.table {
    margin-top: 20px;
}

.container {
    flex-grow: 1;
}

#sidebar {
    width: 20%;
    height: 150vh;
    background: #343a40;
}
body {
    background-color: #212529;
    color: white;
}

#titulo {
    font-size: 2rem; 
    text-align: center; 
}

.btn-danger {
    background-color: #d1495b; 
}

.btn-warning {
    background-color: #e9c46a; 
}

#logo {
    width: 120px;
    height: auto; 
    margin-right: 30px; 
    vertical-align: middle; 
}

#escuela{
    color: #d7af6a; 
    font-size: 2.5rem; 
    text-align: center; 
    display: flex;
    justify-content: center; 
    width: 100%; 
}

#sidebar {
    padding: 20px; 
}



#escuela {
    color: #d7af6a !important; 
}
