<!doctype html>
<html lang="en">

{% include 'Sidebar.html' %}

<section class="p-3">
    <br><br><br><br><br><br>
    <div class="container text-center">
        <h2>Bienvenido a la Plataforma Educativa</h2>
        <p class="lead">Aquí puedes gestionar toda la información relacionada con los docentes y estudiantes.</p>
        <blockquote class="blockquote"><br>
            <p class="mb-0">“La educación es el arma más poderosa que puedes usar para cambiar el mundo.”</p>
            <footer class="blockquote-footer">Nelson Mandela</footer>
        </blockquote>
    </div>
</section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>

</html>